* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.form-label, .form-message {
	text-align: left;
}

.form-control:hover {
	border-color: #1dbfaf;
}

.form-group.invalid .form-control {
	border-color: #f33a58;
}

.form-group.invalid .form-message {
	color: #f33a58;
}

.form-message {
	font-size: 0.8rem;
	line-height: 1.6rem;
	padding: 4px 0 0;
}

.form-submit {
	outline: none;
	background-color: #1dbfaf;
	margin-top: 12px;
	padding: 12px 16px;
	font-weight: 600;
	color: #fff;
	border: none;
	width: 100%;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;
}

.form-submit:hover {
	background-color: #1ac7b6;
}

.spacer {
	margin-top: 36px;
}